<button (click)="getData('overlay-id')">Start loading with overlay</button>
<h3 *ngIf="vm.loadingService.loading['overlay-id']">
  I'm an overlay! - {{ vm.loadingService.loading['overlay-id'] }} requests pending</h3>

<hr>

<button (click)="getData('content-spinner')">Start loading with spinner</button>
<h3 *ngIf="vm.loadingService.loading['content-spinner']">
  I'm a spinner! - {{ vm.loadingService.loading['content-spinner'] }} requests pending</h3>

<hr>

<button (click)="getData('content-button')">Start loading with button</button>
<h3 *ngIf="vm.loadingService.loading['content-button']">
  I'm a button! - {{ vm.loadingService.loading['content-button'] }} requests pending</h3>
