<app-logo-overlay></app-logo-overlay>
<app-screen-overlay></app-screen-overlay>

<a href="/b">Go to path resolver with logo overlay</a>
<br>
<a href="/a">Go to path resolver with spinner overlay</a>
<hr>

<button (click)="getData('logo-overlay')">Start loading with logo</button>
<hr>

<button (click)="getData('screen-overlay')">Start loading with overlay</button>
<hr>

<button (click)="getData('content-button')">
  <i class="fa fa-spinner fa-spin" 
    *ngIf="loadingService.show('content-button')"></i> Start loading with button
</button>

<hr>
<pre>
  <h4>LoadingService.loading [TODO: replace with store]</h4>
  {{ loadingService | json }}
</pre>